[submodule "lib"]
	path = lib
	url = https://github.com/MesTTo/MeTTa-Library-Pack.git
[submodule "examples"]
	path = examples
	url = https://github.com/MesTTo/MeTTa-Examples.git
[submodule "ext"]
	path = ext
	url = https://github.com/MesTTo/PyMeTTa-Extensions.git
[submodule "extensions/python"]
	path = extensions/python
	url = https://github.com/MesTTo/PyMeTTa.git
[submodule "extensions/cmetta"]
	path = extensions/cmetta
	url = https://github.com/MesTTo/CMeTTa.git
[submodule "extensions/node"]
	path = extensions/node
	url = https://github.com/MesTTo/TSMeTTa.git
[submodule "extensions/mork"]
	path = extensions/mork
	url = https://github.com/MesTTo/MeTTa-MORK.git
