[submodule "engine"]
	path = engine
	url = https://github.com/MesTTo/MeTTa-Kernel.git
[submodule "lib"]
	path = lib
	url = https://github.com/MesTTo/metta-lib.git
[submodule "examples"]
	path = examples
	url = https://github.com/MesTTo/MeTTa-Examples.git
[submodule "ext"]
	path = ext
	url = https://github.com/MesTTo/metta-extensions.git
[submodule "extensions/python"]
	path = extensions/python
	url = https://github.com/MesTTo/PyMeTTa.git
[submodule "extensions/cmetta"]
	path = extensions/cmetta
	url = https://github.com/MesTTo/CMeTTa.git
[submodule "extensions/node"]
	path = extensions/node
	url = https://github.com/MesTTo/TSMeTTa.git
[submodule "extensions/mork"]
	path = extensions/mork
	url = https://github.com/MesTTo/metta-mork.git
